page-register {
    .foto{
        background-image: url('../assets/imgs/luces.png')
    }

    .letra{
        color: white;
        text-align: center;
        background-color: black
    }

    .boton{
        margin-top: 8px
    }

}
